body {
  background-color: black;
  height: 100%;
  width: 100%;
  font-family: "Oxygen", sans-serif; }

.home {
  padding-top: 3em; }

.active {
  color: #F47204 !important; }

/*********************
header section
**********************/
#header {
  position: fixed;
  left: 0;
  width: 212px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  height: 512px;
  z-index: 9;
  /* background: white; */ }
  #header h1 {
    color: white;
    text-align: center;
    font-size: 2em; }
  #header h3 {
    color: white;
    text-align: right;
    margin-right: 0.2em;
    padding-top: 3px;
    margin-top: 0;
    border-top: 1px solid black; }
  #header nav {
    padding-right: 1em; }
    #header nav .about,
    #header nav .social,
    #header nav .pricing {
      color: white;
      display: block;
      margin-bottom: 2em;
      text-align: right;
      padding-top: 3em;
      text-decoration: none;
      text-transform: lowercase;
      transition-duration: .3s;
      font-size: 1.2em; }
    #header nav a:hover {
      background-color: white;
      color: black;
      transition-duration: .6s;
      text-transform: uppercase;
      letter-spacing: 1em; }

.navbar-header {
  background-color: black; }
  .navbar-header a.navbar-brand {
    color: white; }

#navbar a {
  color: black; }

/******************
LOGIN
*******************/
#login {
  position: fixed;
  top: 1%;
  color: white;
  right: 3%;
  font-size: 0.8em; }
  #login .username,
  #login .password,
  #login .submit {
    display: inline-block; }
    #login .username input,
    #login .password input,
    #login .submit input {
      background-color: black;
      border: 1px solid gray;
      color: white; }

/******************
HIDDEN BLOCKS
*******************/
#about,
#social,
#pricing {
  width: 35%;
  position: fixed;
  margin: 0 auto;
  left: 35%;
  /* top: 10%; */
  height: 512px;
  z-index: 9999; }
  #about .text,
  #social .text,
  #pricing .text {
    position: absolute;
    top: 16%;
    text-align: center;
    font-size: 1.3em; }

#about {
  background-color: rgba(164, 163, 147, 0.9);
  z-index: 12; }
  #about ul {
    float: left;
    padding-right: 1em; }
    #about ul li {
      text-decoration: none;
      list-style-type: none; }
  #about ul.right {
    float: right;
    padding-top: 7em;
    padding-right: 2em; }
  #about h1 {
    margin-bottom: 1em; }
  #about p {
    text-align: left; }

#social {
  background-color: rgba(164, 163, 147, 0.87);
  z-index: 13; }
  #social .text h1 {
    margin-top: -2em; }
  #social .text ul {
    list-style-type: none;
    font-size: 3em; }
    #social .text ul li {
      cursor: pointer;
      transition-duration: 1s;
      margin: 0.4em 0; }
    #social .text ul li > i:hover {
      color: white;
      transform: rotate(360deg);
      transition-duration: 0.7s; }

#pricing {
  background-color: rgba(164, 163, 147, 0.85);
  z-index: 14; }
  #pricing h1 {
    margin-top: -1em;
    margin-bottom: 1.4em; }
  #pricing .text {
    text-align: left;
    padding-left: 1em; }
    #pricing .text h1 {
      text-align: center; }

.header-mobile {
  display: none; }

/******************
CONTENT SECTION
******************/
.content {
  position: absolute;
  left: 224px;
  z-index: 1; }

/***************
PHOTO SECTION
*****************/
#photo_slider {
  height: 80%;
  min-height: 360px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 1% 20px 1% 212px; }
  #photo_slider tbody {
    display: table-row-group;
    /*table*/
    vertical-align: middle;
    /*center*/
    border-color: inherit; }
  #photo_slider tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit; }
  #photo_slider td, #photo_slider th {
    display: table-cell;
    vertical-align: inherit; }
    #photo_slider td img, #photo_slider th img {
      height: 512px;
      cursor: pointer; }

/***************
Footer
*****************/
footer {
  position: fixed;
  bottom: 5%;
  font-size: 0.7em;
  left: 40%;
  color: white;
  text-align: center; }

.copy {
  font-size: 1.0em;
  cursor: pointer; }

.elliott {
  font-size: 1.0em;
  color: white; }

/***************
QUERIES
*****************/
@media only screen and (min-width: 0px) and (max-width: 667px) {
  .content {
    left: 0px;
    padding-top: 0em;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3em; }
    .content #photo_slider {
      width: 100%;
      text-align: center; }
      .content #photo_slider img {
        width: 100%; }

  .home {
    padding-top: 3.60em; }

  #header {
    position: fixed;
    top: 0%;
    text-align: right;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: inline-block;
    height: 92px; }
    #header h3 {
      display: none; }

  div.text {
    width: 100%; }

  #header nav .about,
  #header nav .social,
  #header nav .pricing {
    display: inline;
    padding-top: 0; }
  #header nav a:hover {
    background-color: white;
    color: black;
    transition-duration: .6s;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0; }

  img {
    max-width: 480px;
    max-height: 480px; }

  .header-mobile {
    display: block; }

  .fix {
    display: none; }

  #photo_slider td, #photo_slider th {
    display: block; }

  #about,
  #social,
  #pricing {
    display: block;
    width: 80%;
    left: 10%;
    top: 31%; }

  footer {
    display: none; } }
@media only screen and (min-width: 0px) and (max-width: 667px) {
  #about,
  #social,
  #pricing {
    width: 60%;
    position: fixed;
    margin: 0 auto;
    left: 0%;
    top: 40%;
    font-size: 0.9em;
    /* top: 10%; */
    height: 320px;
    z-index: 9999; }
    #about .text,
    #social .text,
    #pricing .text {
      position: absolute;
      top: 16%;
      text-align: center;
      font-size: 1.3em; }
      #about .text h1,
      #social .text h1,
      #pricing .text h1 {
        display: none; }

  #social ul {
    margin-top: -1em; }

  #pricing {
    font-size: 0.7em;
    margin-top: -3em; }
    #pricing h1 {
      margin-top: -3em; }

  #about {
    font-size: 0.6em; }
    #about h1 {
      padding-top: 0em; }
    #about ul {
      padding-top: 0em; }
    #about ul.right {
      padding-top: 1em; }

  #login {
    position: absolute;
    top: 0%;
    bottom: 0%;
    color: white;
    height: 0px;
    right: 3%;
    z-index: 9999;
    top: 1049%;
    font-size: 0.8em; }
    #login .username,
    #login .password,
    #login .submit {
      display: inline-block; }
      #login .username input,
      #login .password input,
      #login .submit input {
        background-color: black;
        border: 1px solid gray;
        color: white; } }

/*# sourceMappingURL=style.css.map */
